@inject AndroidMujezin.Servisi.ConfigServis _configServis
@inject AndroidMujezin.Servisi.VaktijaApiServis _vaktijaApi
@inject AndroidMujezin.Servisi.BazaServis _bazaServis
@page "/"
<h3>Baza audio snjimaka ezana</h3>




@code {

}
